/* Selina Ou*/
/* stylesheet for dashboard*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
  body {
    overflow-y:scroll;
    background: #fbfcff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    margin:auto;  
  }

.mainheader{
    background-color:rgb(200, 153, 223); 
    position: absolute;
    top: 0vw;
    padding: 1.3vw;
    width: 100vw;
    overflow:hidden;
}

ul.b {
    position:fixed;
    top:2.5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.b {
    float: left;
  }
  
  li.b a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.4vw;
    text-decoration: none;
    width:10vw;
  }
  
  li.b a:hover:not(.active) {
    background-color: rgb(203, 157, 221);
  }
  
  .active {
    background-color: #774caf;
  }

  #wrapper{
    position:fixed;
    top:2.5vw;
    overflow: hidden;
    background-color: #333;
    width:100vw;
    height:2.3vw;
  }

  .headerlogo{
    position:absolute;
    width:2vw;
    height:2vw;
    top:0.3vw;
  }

  .headertitle{
    position:absolute;
    font-weight: 500;
    font-size:1.4vw;
    top:0.5vw;
    left:5vw;
    color:#fbfcff;
  }

  .year{
    position:absolute;
    font-weight: 500;
    font-size:1vw;
    color:#fbfcff;
  }

  .currenty{
    top:0.7vw;
    left:12.5vw;
  }
  .indent{
    top:0.7vw;
    left:14.6vw;
  }

  .nexty{
    top:0.7vw;
    left:15.2vw;
  }

  #side{
    height: 40vw;
    width: 30vw;
    background-color: white;
    border-top-left-radius: 2vw;
    /*box-shadow: 2vw; */
    box-shadow: 0 0 0.3vw rgb(192, 191, 191);
    position:absolute;
    top:6vw;
    right:0vw;
  }

  #box{
    height: 40vw;
    width: 68vw;
    background-color: rgba(22, 0, 0, 0);
    /*box-shadow: 2vw; */
    /*box-shadow: 0 0 0.3vw rgb(192, 191, 191);*/
    position:absolute;
    top:6vw;
    left:0vw;
  }

  #classone{
    height: 2.3vw;
    width: 62vw;
    background-color:#774caf;
    box-shadow: 0 0 0.5vw rgb(192, 191, 191);
    border-radius: 1vw;
    position:absolute;
    top:6.5vw;
    left:2vw;
}
#classtwo{
    height: 2.3vw;
    width: 62vw;
    background-color:#774caf;
    box-shadow: 0 0 0.5vw rgb(192, 191, 191);
    border-radius: 1vw;
    position:absolute;
    top:9.5vw;
    left:2vw;
}

#classthree{
    height: 2.3vw;
    width: 62vw;
    background-color:#774caf;
    box-shadow: 0 0 0.5vw rgb(192, 191, 191);
    border-radius: 1vw;
    position:absolute;
    top:12.5vw;
    left:2vw;
}

.C{
        color:#fbfcff;
        top: 2vw;
        font-size: 1.5vw;
        text-decoration: none;
        margin-left: 2vw;
}
.C:hover {
    color:rgba(218, 218, 218, 0.849);
    text-decoration: underline;
}

.C1{
  color:#fbfcff;
  top: 2vw;
  font-size: 1.5vw;
  text-decoration: none;
  margin-left: 2vw;
}


#delete{
    float: right;
    margin-right:0.75vw;
    padding-top: 0.01%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.25%;
    background:transparent;
    background-color: rgb(200, 156, 218);
    border:none;
    text-align: center;
    font-size:2vw;
    border-radius: 20%;
    cursor: pointer;
    text-align: center;
 
}

#delete:hover{
    background-color: #ffffff28;
}


.C2{
  color:#fbfcff;
  top: 2vw;
  font-size: 1.5vw;
  text-decoration: none;
  margin-right: 2vw;
  float:right;
}

#edittask{
    float: right;
    margin-top:0.18vw;
    margin-right:0.75vw;
    padding-top: 0.2%;
    padding-left: 0.75%;
    padding-right: 0.5%;
    padding-bottom: 0.25%;
    background:transparent;
    color: rgb(255, 255, 255);
    border:none;
    text-align: center;
    border-radius: 20%;
    cursor: pointer;
}

#edittask:hover{
    background-color: #ffffff28;
}

 #addclass{
     border: none;
    font-family: 'Raleway', sans-serif;
    padding: 0.75vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.75vw 0.5vw;
    cursor: pointer;
    border-radius: 7vw;
    outline: none;
    font-size: 1.5vw;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    background:#c89adf;
    color: rgb(255, 255, 255);
    justify-self: end;
    align-self: center;
    position: fixed;
    width: 12vw;
    right:35vw;
    top:37vw;
 }

 #addclass:hover{
     background-color: #b891cc;
 }

 #addtask{
  border: none;
 font-family: 'Raleway', sans-serif;
 padding: 0.75vw 2vw;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 0.75vw 0.5vw;
 cursor: pointer;
 border-radius: 7vw;
 outline: none;
 font-size: 1.5vw;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease 0s;
 background:#c89adf;
 color: rgb(255, 255, 255);
 justify-self: end;
 align-self: center;
 position: fixed;
 top: 37vw;
 right: 10vw;
}

#addtask:hover{
  background-color: #b891cc;
}

 .todo{
    font-size: 2vw;
    float: left;
    float:top;
    margin-top: 1.5vw;
    font-weight: bold;
    margin-left: 1.5vw;
 }

 ul.a{
    position:absolute;
    margin-top:vw;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 li.a{
    padding-left: 2vw;
    padding-top: 0.5vw;
 }

 .check{
    color: black;
    text-align: center;
    font-size:1.5vw;
    text-decoration: none;
    font-weight:normal;
    width:10vw;
  }
 #tasks{
    margin-top:5vw;
 }

 .checkmark{
    background-color: #774caf;
 }

 .h1{
        font-size: 2vw;
        float:top;
        margin-top: 1vw;
        font-weight: bold;
        margin-left: 3vw;
 }

 
 .h2{
  font-size: 1.25vw;
  float: left;
  float:top;
  margin-top: 2vw;
  font-weight: bold;
  margin-left: 3vw;
  padding-right: 4vw;
}

.h3{
  font-size: 1.25vw;
  float: right;
  float:top;
  margin-top: 2vw;
  font-weight: bold;
  margin-left: 3vw;
  margin-right: 16vw;
}

.tex{
  width: 25vw;
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: 1.5vw;
  padding-left: 1vw ;
  background: rgba(136, 126, 126, 0.04);
  border: none;
  border-radius: 1vw;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
}



.dropbtn{
    position:absolute;
    background: rgb(203, 157, 221);
    border: none !important;
    top:-0.5vw;
    left:93vw;
    border:none;
    outline:none;
    cursor:pointer;
    width:2.5vw;
    border-radius: 0.2vw;
  }

  .dropbtn:hover,.dropbtn:focus{
    background: #774caf44;
  }

.dropdown {
  position: relative;
  display: inline-block;
  

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:88.5vw;
  top:1.5vw;
}

.dropdown-content a {
  color: black;
  padding: 0.6vw 25px;
  text-decoration: none;
  font: 1vw;
  display: block;
  height:2vw;
  width:7vw;
  text-align:center;
  border-radius: 0.5vw;


}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;} 
